<mat-nav-list>
    <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
      <mat-icon>home</mat-icon> <span class="nav-caption">Home</span>
    </a>
    <a mat-list-item routerLink="/aboutus" (click)="onSidenavClose()">
      <mat-icon>account_balance</mat-icon><span class="nav-caption">Tournaments & Events</span>
    </a>
    <a mat-list-item routerLink="/arbourusers" (click)="onSidenavClose()">
      <mat-icon>group</mat-icon><span class="nav-caption">Members</span>
    </a>
  </mat-nav-list>