<section fxLayout="column" fxFlexAlign="stretch">
  <div fxFlexAlign="center">
    <div class="row">
      <mat-card>
          <mat-card-header class="error-title" >
              <mat-card-title >403 - ACCESS DENIED</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="assets/images/403.png" alt="Access Denied">
          <mat-card-content>
              <p>Sorry : You don't have the permission to access this resource.</p>
          </mat-card-content>
          <mat-card-actions>
              <button color="primary" mat-raised-button (click)="close()">Close</button>
          </mat-card-actions>
      </mat-card>
    </div>
  </div> 
</section>
  
