<section fxLayout="column" fxFlexAlign="stretch">
    <div fxFlexAlign="center">
        <h3 class="page-title">HOLLYWOOD TOURNAMENTS</h3>
    </div> 
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img src="assets/images/banner/banner1.jpg" class="img-responsive" width="100%" />
                <hr>
            </div>
            <div class="col-lg-12">
                <app-tournaments></app-tournaments>
            </div>
        </div>

        <br>
        <br>

        <div class="row">        
            <div class="col-sm">
                <mat-card>
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Tournament</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src="assets/images/home/home_2.jpg" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>LIKE</button>
                        <button mat-button>SHARE</button>
                    </mat-card-actions>
                </mat-card>            
            </div>
    
            <div class="col-sm">
                <mat-card>
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Tournament</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src="assets/images/home/home_2.jpg" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>LIKE</button>
                        <button mat-button>SHARE</button>
                    </mat-card-actions>
                </mat-card>            
            </div>
        </div>        
    </div>
</section>